<% @toys.each do |toy| %>
  <div class='content-box'>
    <div><%= "#{toy.title} by #{toy.creator}" %></div>
    <div><%= link_to toy.url %></div>
  </div>
<% end %>

<%= link_to "Submit a new app", new_toy_path %>
