<% @toys.each do |toy| %>
  <div class='content-box'>
    <div><%= toy.user.email %></div>
    <div><%= toy.title %></div>
    <div><%= link_to toy.url %></div>
  </div>
<% end %>

<%= link_to "Submit a new app", new_toy_path %>
