<% @toys.each do |toy| %>
  <div class='content-box'>
    <div><%= link_to("#{toy.title} by #{toy.creator}", toy_path(toy)) %></div>
  </div>
<% end %>

<%= link_to "Submit a new app", new_toy_path %>
